<h1>Santiago la cuidad del crimen</h1>
<p>
Santiago de Chile cuenta con varios destintos turisticos pero me encantaria destacar sus diversos tipos de delicuencia disponibles en nuestro pais. Gracias a un presidente comunista y la gran imigración sin control absoluto, como resultado el turismo delictual ha crecido exponencialmente. Desde Youtubers hasta extranjeros todos han sido victima del crimen en nuestro pais.
</p>
<br>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.a-Ha_Z13wXeFC2lERPlEQAEsCo%26pid%3DApi&f=1&ipt=f7b3d61dabf64e0b2b79bd8943fd58aec35ef51d19e3a732547cf615d02bfa5f&ipo=images">


<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.hlGfWt7lnS_oJZgv9kv7OQHaFF%26pid%3DApi&f=1&ipt=88ab6c54fb954823bfa1be8d2c5be2f3198ac0619a61359a23cb1e7e4787849d&ipo=images">
